hr{
    width:1121px;
    margin-top:3.6875rem;
    margin-bottom: 1.4375rem;
}

nav{
    display: none;
}

.InformationPromoSmall{
    display: none;
}

/*Debut du header*/

.positionHeader{
    display: flex;
    justify-content: center;
}

header{
    width: 1200px;
    max-width: 1200px;
}



header>p:nth-child(1){
    display: initial;
    margin-left:41px;
    margin-right: 190px;
}

header p{
    font-size: 1rem;
}

header img{
    margin-right: 0px;
    margin-left:0.625rem;
}


/*Main*/

main{
    display: flex;
    justify-content: center;
}

/*Conteneur principale*/

main>div{
    max-width: 1200px;
}


/*Menu*/

.menu>p{
    margin:0px;
}

.menu p{
    margin-right: 62px;  
}

.menuLarge{
    display: initial;
    display:flex;
}

.menuSmall{
    display: none;
}



/* photo de cafe et leur description*/

.photoCafe{
    display:flex;
    justify-content: space-evenly;
}

.photoCafe p{
    display:none;
}

.photolarge{
    display: initial;
}

.photosmall{
    display:none;
}

.photoCafe img{
    width:540.5px;
    margin-top:3.9375rem;
    margin-left:2.4375rem;
    margin-right:2.4375rem; 
}

.photoCafe img:nth-child(2){
    margin-right: 1.3125rem;
}

.photoCafe img:nth-child(4){
    margin-left: 1.3125rem;
}

/*legende des photo cafe*/

.descriptionPhotoCafe{
    margin-top:18px;
    display:grid;
    grid-template-columns: 50% 50%;
    margin-left: 1.5625rem;
    margin-right: 1.5625rem;
    font-size: 27px;
    
}

.descriptionPhotoCafe div{
    text-align: center;
}





/*Description du site et découverte*/

.informationCafe{
    display:grid;
    grid-template-columns: 50% 50%; 
}

.informationCafe>div:nth-child(1)>div>h1:nth-child(1){
    font-size: 3.875rem;
}

.informationCafe>div:nth-child(1)>div>h1:nth-child(2){
    font-size: 4.6875rem;
}

.informationCafe p{
    font-size:15px;
}

.informationCafe a{
    font-size: 20px;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    margin-left:28px;
}

.informationCafe>div:nth-child(2){
    padding-left: 27px;
    text-align: initial;
}

.galerieImage{
    margin-left:2.4375rem;
    margin-right:2.4375rem;
    display:flex;
    justify-content: space-evenly;
    margin:0px;
    margin-bottom: 1.0625rem;
    padding-bottom: 0px;  
}

.galerieImage  img{
    width: 348.294px;
    
}

/*Désactiver l'affichage du texte du conteneur de l'image*/

.galerieImage p{
    display: none;
}

/*legende des image de la galerie*/
.descriptionGalerie{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.descriptionGalerie p {
    text-align: center;   
}


.descriptionGalerie{
    padding-bottom: 2.875rem;
    font-size: 18.86px;
}






