/*Menu Déroulant*/
nav{
    right:50%;
}

nav>p:nth-child(1){
    margin-top:3.125rem;
}

/*Debut du header*/

header{
    justify-content: center;
}

header p{
    margin-left: 0px;
}

header img{
    margin-right: 0px;
    margin-left:0.625rem;
}

/*Main*/

main{
    background-color: #C7B299;
}

/*Conteneur principale*/

main>div{  
    margin-left:10%;
    margin-right:10%;
}

/*Menu*/

.menu{
    justify-content: center;
}

.menu p{
    padding-top:13px;
    padding-bottom:13px;
}

.menu img{  
    margin-left:40%;   
}

/* partie logo*/

.logo img{
    width:435.6px;
    text-align: center;
}

/*Texte de présentation*/

.informationCafe{
    text-align: initial;  
}

.informationCafe>div:nth-child(2){
    
    text-align: center;
}

/*Galerie d'image*/

.galerieImage{   
    margin-bottom: 0px;
    padding-bottom: 1.0625rem;   
}

/*pied de page*/

footer> div{
    display: flex;
    justify-content: center;  
}

footer>div:nth-child(1)>p:nth-child(1){
    padding-top: 40px;
}

footer>div:nth-child(1) p{
    padding-top: 40px;
    padding-bottom: 22.5px;
}

footer>div:nth-child(2)>p:nth-child(2){
   padding-bottom: 39px;
}

footer>div:nth-child(2) p{
    padding-top:22.5px;
    padding-bottom: 39px;
}



