.informationCafe>div:nth-child(1)>div>h1:nth-child(1){
    font-size: 1.9rem;
}

.informationCafe>div:nth-child(1)>div>h1:nth-child(2){   
    font-size: 2.9rem;    
}

.informationCafe p{
    font-size: 1rem;
}