body{
    margin:0;
    font-family: 'Roboto Slab', serif;
}

hr{
    width: 90%;
    background-color: #E6E6E6;
    margin-top:48px;
    margin-bottom: 48px;
}

p{
    margin: 0;
    padding-top:0.625rem;
    padding-bottom: 0.625rem;
}

/*Menu Deroulant*/

nav{
    position : fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom: 0px;
    background-color: #C7B299;
    text-align: center;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transform:translate(-100%);
    color:white;
    font-size:1.5rem;
}

nav img{
    position: fixed;
    right:1.25rem;
}
nav p{
    padding-top:6.25rem;
    padding-bottom:6.25rem;
}

nav p:hover{
    background-color: #553019;
}

.debutMenuNav{
    margin-top:3.125rem;
}

.ouvertureMenuSmall{
    transform: translate(0%);
}

.positionHeader{
    background-color: #553019;
    color: white;   
}

header{  
    display: flex;
    color: white;
    font-size: 1rem;   
}

header p{
    margin-left:1.25rem;
    margin-right:1.25rem;
    padding-top:12.5px;
    padding-bottom: 12.5px;
}

.panier{
    display: flex;
}

header p:hover{
    background-color: #C7B299;
}

header img:hover{
    background-color: #C7B299;
}

header img{
    margin-left:1.25rem;
    font-size: 2.5rem;
    
}

.InformationPromoSmall{
    background-color: #AA7B51;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.9375rem;
    padding:9px;
}

.InformationPromoSmall p{
    padding: 0px;
}

header>p:nth-child(1){
    display: none;
}

header>p:nth-child(4){
    margin-left: 7px;
}

.logo img{
    width: 90.76%;
}

/*partie logo*/

.logo{
    text-align: center;
}

.logo{
    padding-top:0.75rem;
    padding-bottom: 1.6875rem;
}

/*fin partie logo*/

main{
    min-height: 85vh;
}

main>div{
    background-color: white;
    min-height: 85vh; 
}

/*Menu*/

.menu{
    background-color: #AA7B51;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;  
}

.menu p{
    padding-top:21px;
    padding-bottom:21px;
}


.menu>p{
    margin-left: 40%;
}

.menu p:hover{
    background-color: #553019;
}

.menu img{
    margin-right: 26px;
    width: 45px;   
}

.menuLarge{
    display: none;
}

.menuSmall{
    margin-left:auto;   
}

/*partie grande photo*/

.photoCafe{
    text-align: center;  
}

.photoCafe img{
    margin-top:46px;
    width: 90%;   
}

.photoCafe img:nth-child(1){
    margin-top:2.5rem;
}

.photoCafe p{
    padding-top:14px;
    font-size:1.3125rem;
    padding-bottom:0px;
}

.photolarge{
    display: none;
}

.descriptionPhotoCafe{
    display: none;
}

/*partie textuel principal*/

.informationCafe{
    text-align: center;  
}

.informationCafe>div:nth-child(1){
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.informationCafe>div:nth-child(1)>div>h1{
    margin:0;
}

.informationCafe>div:nth-child(1)>div>h1:nth-child(1){
    font-size: 3.375rem;
}

.informationCafe>div:nth-child(1)>div>h1:nth-child(2){
    margin:0px;
    font-size: 4.125rem;
    color: #AA7B51 ;   
}

.informationCafe p{
    font-size: 1.125rem;
    font-family: 'Open Sans', sans-serif;
    padding-left: 28px;
    padding-right: 24px;
}

/*bouton decouvrir*/

.informationCafe a{
    text-decoration: none;
    color:white;
    background-color: #AA7B51;
    
    padding:0.625rem;
    padding-left: 34px;
    padding-right: 34px;
}

.informationCafe a:hover{
    background-color: #553019;
}

.decouvrir{
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

/*partie galerie Image*/

.galerieImage{
    text-align: center;
    margin-bottom: 4.3125rem;
    font-size: 1.4375rem;
}

.galerieImage  img{
    width: 90%;
}

.galerieImage p{
    margin-bottom: 2.9375rem;
}

.galerieImageDescription{
    display:flex;
    justify-content: space-around;
}

.descriptionGalerie{
    display: none;
}

footer{
    background-color: #AA7B51;
}

footer> div{  
    color : white;
    text-align: center;
}

footer p{
    margin:0;
    padding:1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.5rem;
    padding-top:13px;
    padding-bottom: 13px;
}

footer>div:nth-child(1)>p:nth-child(1){
    padding-top: 58px;
}

footer>div:nth-child(2)>p:nth-child(2){
    font-size: 1rem;
   padding-bottom: 52px;
}

footer>div:nth-child(2)>p{
    font-size: 1rem;
}

footer p:hover{
    background-color: #553019;
}



